<!DOCTYPE html >
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css"/>
    <style>
        
    </style>
</head>
<body>
<div id="page-container">
    <table style="width: 100%; border: none; ">
        <tbody>
        <tr>
            <td style="width: 40%; text-align: center; padding-top: 4%;">
                <p style="text-transform: uppercase; font-weight: normal; margin: 0; padding: 0; font-size: 12pt;">ĐẠI HỌC QUỐC GIA HÀ NỘI</p>
                <p style="text-transform:uppercase; margin: 0; padding: 0; font-size:12pt; font-weight:bold;">TRƯỜNG ĐẠI HỌC CÔNG NGHỆ</p>
            </td>
            <td style="width: 50px; text-align: center; padding-top: 4%; ">
                <p style="text-transform: uppercase; font-weight: bold; margin: 0; padding: 0; font-size: 12pt;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                <p style="margin: 0; padding: 0; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</p>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="padding: 30px; float: right; padding-right: 20%; font-size:15px;"><strong>Hà Nội </strong>, ngày.....tháng.....năm 2016</p>
    <h1 style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 14pt; padding-top: 50px; padding-left: 500px;">
        QUYẾT ĐỊNH</h1>
        <h4  style="text-align: center;  "> Về việc duyệt điều kiện và danh sách sinh viên thuộc Khoa Công nghệ Thông tin làm khóa luận tốt nghiệp<br>
(bảo vệ đợt 1 năm 2016)
</h4>
    <h1 style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 14pt; padding-top: 50px; ">HIỆU TRƯỞNG
<br>TRƯỜNG ĐẠI HỌC CÔNG NGHỆ
</h1>
<p style="width: 100%; padding-left: 20%; padding-right:20%;">   Căn cứ Quy định về Tổ chức hoạt động của cá đơn vị thành viên và đơn vị trực thuộc Đại học Quốc gia Hà Nội ban hành theo nghị quyết số 3568/QĐ-ĐHQGHN ngày 08/10/2014 của Giám đốc Đại học Quốc gia Hà Nội;

   Căn cứ "Quy chế đào tạo đại học ở Đại học Quốc gia Hà Nội" ban hành theo Quyết định số 3079/QĐ-ĐHQGHN ngày 26/10/2010 và được sửa đổi, bổ sung theo Quyết định số 685/QĐ-ĐHQGHN ngày 08/03/2013 của Giám đốc Đại học Quốc gia Hà Nội;
</p>
<h1 style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 14pt; padding-left: 10%; padding-right:10%; ">
       DANH SÁCH SINH VIÊN, TÊN CÁN BỘ HƯỚNG DẪN KHÓA LUẬN TỐT NGHIỆP VÀ ĐỀ TÀI THỰC HIỆN CỦA SINH VIÊN KHOA CÔNG NGHỆ THÔNG TIN BẢO VỆ ĐỢT 1 NĂM 2016<br>
(kèm theo Quyết định số 237/QĐ-ĐT ngày 19/6/1996)
    </h1>
</div>
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/FileSaver.js"></script>
<script src="/javascripts/jquery.wordexport.js"></script>
<script src="/javascripts/file_saver.js"></script>
</body>
</html>
