<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse ">
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="../../views/layouts/layout.hbs">
                <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
            </a>
        </div>
    </div>
    <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

            <!-- BEGIN DASHBOARD -->
            <li>
                <a href="/user/profile" class="active">
                    <div class="gui-icon"><i class="md md-home"></i></div>
                    <span class="title">Trang chủ</span>
                </a>
            </li><!--end /menu-li -->
            <!-- END DASHBOARD -->

            <!-- BEGIN EMAIL -->
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="md md-email"></i></div>
                    <span class="title">Giới thiệu</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li><a href="/users/gioithieuchung" ><span class="title">Giới thiệu chung</span></a></li>
                    <li><a href="/users/donvi" ><span class="title">Bộ môn và phòng thí nghiệm</span></a></li>
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            <!-- END EMAIL -->


            <!-- BEGIN UI -->
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
                    <span class="title">Nghiên cứu</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li><a href="/users/chudenc" ><span class="title">Các lĩnh vực nghiên cứu</span></a></li>
                    <li><a href="../../html/ui/typography.html" ><span class="title">Các xuất bản phẩm</span></a></li>
                    <li class="gui-folder">
                        <a href="javascript:void(0);">
                            <span class="title">Các đề tài nghiên cứu</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="../../html/ui/icons/materialicons.html" ><span class="title">Đề tài nghiên cứu 1</span></a></li>
                            <li><a href="../../html/ui/icons/fontawesome.html" ><span class="title">Đề tài nghiên cứu 2</span></a></li>
                            <li><a href="../../html/ui/icons/glyphicons.html" ><span class="title">Đề tài nghiên cứu 3</span></a></li>
                            <li><a href="../../html/ui/icons/skycons.html" ><span class="title">Đề tài nghiên cứu 4</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            <!-- END UI -->

            <!-- BEGIN TABLES -->
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-table"></i></div>
                    <span class="title">Cán bộ</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li><a href="/users/info_giangvien" ><span class="title">Cán bộ, giảng viên</span></a></li>
                    <li><a href="../../html/tables/dynamic.html" ><span class="title">Thực tập sinh</span></a></li>
                    <li><a href="../../html/tables/responsive.html" ><span class="title">Nghiên cứu sinh</span></a></li>
                    <li><a href="../../html/tables/responsive.html" ><span class="title">Cựu cán bộ</span></a></li>
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            <!-- END TABLES -->

            <!-- BEGIN FORMS -->
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                    <span class="title">Đề tài</span>
                </a>
                <!--start submenu -->
                <ul>
                    <li><a href="../../html/forms/basic.html" ><span class="title">Đề tài sinh viên nghiên cứu khoa học</span></a></li>
                    <li><a href="../../html/forms/advanced.html" ><span class="title">Đề tài khóa luận tốt nghiệp đại học</span></a></li>
                </ul><!--end /submenu -->
            </li><!--end /menu-li -->
            <!-- END FORMS -->
            <li class="gui-folder">
                <a>
                    <div class="gui-icon"><i class="fa fa-table"></i></div>
                    <span class="title">đăng kí đề tài</span>
                </a>
                <!--start submenu -->
            </li><!--end /menu-li -->
            <li class="gui-folder">
                <a href="/users/admin/hoidong">
                    <div class="gui-icon"><i class="fa fa-table"></i></div>
                    <span class="title">Hội đồng bảo vệ</span>
                </a>
                <!--start submenu -->
            </li><!--end /menu-li -->
            <!-- END TABLES -->

        </ul><!--end .main-menu -->
        <!-- END MAIN MENU -->


    </div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR -->