<!DOCTYPE html >
<!-- Created by pdf2htmlEX (https://github.com/coolwanglu/pdf2htmlex) -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href="/assets/css/theme-default/bootstrap.css"/>
</head>
<body>
<div id="page-container">
    <table style="width: 100%; border: none; border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="width: 40%; text-align: center; vertical-align: top;">
                <p style="text-transform: uppercase; font-weight: normal; margin: 0; padding: 0; font-size: 12pt;">ĐẠI
                    HỌC QUỐC GIA HÀ NỘI</p>
                <p style="text-transform:uppercase; margin: 0; padding: 0; font-size:12pt; font-weight:bold;">TRƯỜNG ĐẠI
                    HỌC CÔNG NGHỆ</p>
            </td>
            <td style="width: 60%; text-align: center; vertical-align: top;">
                <p style="text-transform: uppercase; font-weight: bold; margin: 0; padding: 0; font-size: 12pt;">CỘNG
                    HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</p>
                <p style="margin: 0; padding: 0; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</p>
            </td>
        </tr>
        </tbody>
    </table>
    <h1 style="text-align: center; text-transform: uppercase; font-weight: bold; font-size: 14pt; margin: 30px 0 0 0; padding: 0;">
        Phân Công Phản Biện Đề Tài</h1>
    <table style="width: 100%; border: none; border-collapse: collapse; margin-top: 30px;">
        <tbody>
        <tr>
            <td>Kính gửi</td>
            <td>
                <h3><p style="margin: 0; padding: 0; font-size:12pt; font-weight:bold;">
                        Giảng viên : <%=gv1.tenGiangVien%> Và <%=gv2.tenGiangVien%>
                    </p></h3>
            </td>
        </tr>
        <tr>
            <td>Được phân công phản biên đề tài</td>
            <td><b><%=detai%></b></td>

        </tr>
        </tbody>
    </table>
    <br>
    <table style="width: 100%; border: none; border-collapse: collapse;">
        <tbody>
        <tr>
            <td style="width: 50%; text-align: left; vertical-align: top;">
                Ý kiến của giảng viên hướng dẫn
            </td>
            <td style="width: 50%; text-align: right; vertical-align: top;">
                Ý kiến lãnh đạo khoa
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
<script src="/assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="/javascripts/FileSaver.js"></script>
<script src="/javascripts/jquery.wordexport.js"></script>
<script src="/javascripts/file_saver.js"></script>
</body>
</html>
