<li class="tile">
    <a class="tile-content ink-reaction">
        <div class="tile-text">
            <p><%=title%></p>
            <small>
                <%=description%>
            </small>
        </div>
    </a>
    <a class="btn btn-flat ink-reaction btn-default btn-remove-nghiencuu">
        <i class="fa fa-trash"></i>
    </a>
</li>