.btn:focus, .upload-btn:focus{
    outline: 0 !important;
}
.row {
    margin-top: 80px;
}

.upload-btn {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}


.upload-btn1 {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn1:hover,
.upload-btn1:focus,
.upload-btn1:active,
.upload-btn1.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}


.upload-btn2 {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn2:hover,
.upload-btn2:focus,
.upload-btn2:active,
.upload-btn2.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

.upload-btn3 {
    color: #ffffff;
    background-color: #F89406;
    border: none;
}

.upload-btn3:hover,
.upload-btn3:focus,
.upload-btn3:active,
.upload-btn3.active {
    color: #ffffff;
    background-color: #FA8900;
    border: none;
}

h4 {
    padding-bottom: 30px;
    color: #B8BDC1;
}

.glyphicon {
    font-size: 5em;
    color: #9CA3A9;
}

h2 {
    margin-top: 15px;
    color: #68757E;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

#upload-input {
    display: none;
}

#upload-input1 {
    display: none;
}

#upload-input2 {
    display: none;
}
#upload-input3 {
    display: none;
}
@media (min-width: 768px) {
    .main-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 450px;
    }
}